body{
    text-align: center;
    color:blue;
    background-color: white;
    margin:10px;
    padding:10px;
}
tr{
    margin:10px;
    padding:10px;
}

h3{
    text-align: left;
    color:black;
}
tr:nth-child(3n){
    color:lightgray;
}
tr:nth-child(3n+1){
    color:grey;
}
tr:nth-child(3n+2){
    color:darkgrey;
}